// Main.less
@import "controls";
.section {
    border: 2px #ccc solid;
    border-radius: 6px;
    padding: 10px;
    display: table;
    margin: 0 0 8px;

    h2 {
        margin: 0px 3px 10px;
    }
    thead th {
        font-size: 70%;
    }
    th, td {
        padding: 3px 6px;
        text-align: center;
        min-width: 3em;
    }
    .left-align {
        text-align: left;
    }
}

.abilities {
    border-spacing: 2px;

    tbody th {
        background-color: #000;
        color: #fff;
        font-family: sans-serif;
        border-radius: 2px;
    }
}

.skills {
    td {
        &.untrained {
            border: 2px solid #98FB98;
            background-color: #98FB98;
            border-radius: 2px;
        }
        &.armorPenalty {
            border: 2px dashed #FF8C00;
        }
    }
}

input[type=number] {
    width: 40px;
    text-align: center;
}
