@import "../../node_modules/lesshat/build/lesshat";
@import "colors";
@import "controls";
@import "character-info";

html {
    font-family: sans-serif;
    background: @paperColor;
    color: @textColor;

    text-align: center;
}

body {
    display: inline-block;
    text-align: left;

    max-width: 800px;
}

.section {
    display: block;
    border: 1px fade(@darkPaperColor, 40%) solid;
    background: fade(white, 60%);
    padding: 12px;
    margin: 0 0 8px;

    h2,
    th {
        color: @headerColor;
    }

    h2 {
        margin: 0px 3px 10px;
    }
    thead th {
        font-size: 70%;
    }
    th, td {
        padding: 0px 6px;
        text-align: center;
        min-width: 3em;
    }
    td.input {
        padding: 0px;
        margin:  0px;
    }
    td.input > input,
    td.input > label {
        padding: 10px;
        display: block;
        height: 100%;
    }
    td,
    td.input input {
        font-size: 18px;
    }
    tr:nth-child(even) {
        background: fade(@darkPaperColor, 15%);
    }
    tbody th, td {
        border: 1px solid fade(black, 10%);
    }
    td.number {
        text-align: right !important;
    }
    .left-align {
        text-align: left;
    }
}

table {
    border-spacing: 5px;
}

.abilities {
    tbody th {
        background-color: fade(@darkPaperColor, 80%);
        color: #fff;
    }
}

.skills {
    td {
        &.untrained {
            border-width: 1px;
            // border: 2px solid transparent;
            background-color: @untrainedColor;
            // border-radius: 2px;
        }
        &.armorPenalty {
            // border: 1px dashed @armorPenaltyColor;
            box-shadow: inset -6px 0px 0px 0px @armorPenaltyColor;
        }
    }
}
